h1,h2,h3{
 font-family: 'Oswald', sans-serif; 
}

h2{
  color: rgb(65,139,202);
  <!--Pill default Blue-->
}

.nav-pills{
  font-family: 'Oswald', sans-serif; 
}
  
.col-centered{
    float: none;
    margin: 0 auto;
}
  
.carousel-inner > .item > img{
      width:800px;
      height:350px;
}

.projectbox{
    outline: 2px solid #ccc;
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
}

html,
body {
  height: 100%;
}

.thumbnail > img {
  width:400px;
  height:300px;
}

.outer {
 text-align:center
}

.inner {
  display:inline-block;
  text-align:normal
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.thumbnail.left-caption > img {
    float: right;
    margin-left: 9px;
}

.thumbnail.left-caption {
    float: right;
}

.thumbnail.left-caption > .caption {
    padding: 4px;
}

.rightside{
    float:right;
 }

.leftside{
    float:left;
 }
